/env/
/.project
/.pydevproject
/.~lock.excel_out_05_Nov_2021_00_26.csv#
/articles2.txt
/excel_out_04_Nov_2021_23_52.csv
/excel_out_05_Nov_2021_00_03.csv
/excel_out_05_Nov_2021_00_08.csv
/excel_out_05_Nov_2021_00_16.csv
/excel_out_05_Nov_2021_00_18.csv
/excel_out_05_Nov_2021_00_26.csv
/main.build/
/main.dist/
/main.onefile-build/
*.csv
/main.exe
/xcomparser.exe
/xcomparser.rar
